body{
    margin: 0px;
    padding: 0px;
    background-color:rgb(255, 255, 255);
}
#page-title{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 0px;
    padding: 20px 0px;
}
/* #page-title.open{
    margin-right: 250px; 
}*/
#header{
    width: 100%;
    margin: 0px 0px 30px 0px;
    padding: 10px 20px;
    background-color: #3E6DE4;
    color: white;
    border: 3px solid #3E6DE4;
    box-shadow: inset 0px 0px 10px white;
    position: relative;
    transition: 0.5s;
} 
/* #header.open{
    margin-left: 250px;
} */
#menu{
    position: absolute;
    top: 10%;
    padding: 8px 16px;
    margin: 11px;
    left: 20px;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 30px;
    color:#3E6DE4;
    font-weight: bold;
    box-shadow: inset 0 0 7px #3E6DE4;
    transition: 0.5s;
}
#menu:hover{
    cursor:pointer;
}
#menu.open{
    margin-left: 250px;
}

div.card{
    margin: auto;
    padding: 10px;
    height: 370px;
    width: 300px;
    text-align: center;
    /* border: 4px solid rgba(41, 84, 238, 0.964); */
    box-shadow: -8px -8px 12px black;
    /* box-shadow: 0 0 12px black; */
    border-radius: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top, bottom; 
    transition:  0.5s ease-in-out;
}
div.card:hover{
    box-shadow: 12px 12px 20px rgb(0, 0, 0, 0.8);
    cursor: pointer;
    background-size: 110%;

}
#img1{
    background-image: url('images/mephi_concert.jpg'),
    url('images/red_dots.jpg');

}
#img2{
    background-image: url('images/mephi_competition.jpg'),
    url('images/blue_dots.png');
}
#img3{
    background-image: url('images/mephi_repetition.jpg'),
    url('images/orange_dots_new.jpg');
}

h2.card{
    appearance: none;
    margin-top: 187px;
    padding: 13px 0px;
    background-color: white;
    border-radius: 10px;
}
#concert{
    box-shadow: inset 1px 1px 4px rgb(242, 32, 5), 1px 1px 4px rgb(242, 32, 5);
}

#competition{
    box-shadow: inset 1px 1px 4px rgb(4, 56, 245), 1px 1px 4px rgb(4, 56, 245);
}
#repetition{
    box-shadow: inset 1px 1px 4px rgb(242, 108, 5), 1px 1px 4px rgb(242, 108, 5);
}

#cards{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0px auto;
}
#navigation{ 
    text-align: center;
    list-style: none;
    top: 0;
    left: 0;
    /* padding: 10px 80px 0px 80px; */
    padding: 10px 0px;
    background-color: rgb(77, 76, 76);
    color: white;
    font-size: 20px;
    width: 0px;
    height: 100%;
    position: fixed;
    box-shadow: inset 0px 0px 10px white;
    transition: 0.5s;
    overflow: hidden;
}
#navigation.open{
    width: 250px;
}
.nav_a{
    display: block;
    color: white;
}